.shelves{
   margin-left: 400px;
}
.shelves button {
    width: 500px;
    height: 60px;
    margin-bottom: 20px;
    border-radius: 3px;
    display: flex;
    background-color: #d34735;
    color: white;
    font-weight: 700;
    font-size: 180%;
    cursor: pointer;
    align-items: center;
    padding-left: 80px;

}